NODE_ENV=development

PORT=3001

PG_USER=your_pg_user
PG_HOST=localhost
PG_NAME=your_database
PG_PASSWORD=your_password
PG_PORT=5432
PG_DUMP_PATH=your_pg_dump.exe

DATABASE_URL=your_database_url

JWT_SECRET=your_jwt_secret

MQTT_URL=your_mqtt_url
MQTT_USERNAME=your_username
MQTT_PASSWORD=your_password

INFLUX_URL=your_influx_url
INFLUX_TOKEN=your_influx_token
INFLUX_ORG=your_org
INFLUX_BUCKET=your_bucket

FRONTEND_URL=http://localhost:5173