body {
  margin: 0;
  padding: 0;
}

.dashboard1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
}

.card {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.layout {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 150px;        /* 固定宽度 */
  flex-shrink: 0;        /* ❗防止被压缩（重点） */
  background: var(--bg-sidebar);
  padding: 0px;

  overflow-y: auto;      /* sidebar 自己滚动 */
}

.main {
  flex: 1;              /* 占满剩下空间 */
  padding: 20px;

  overflow-y: auto;     /* main 自己滚动 */
}

.dashboard {
  flex: 1;
  padding: 20px;
}

.active {
  background: var(--accent);
  color: red;
  border-radius: 6px;
}

.sidebar p {
  padding: 10px;
  cursor: pointer;
  
  border-radius: 6px;
}

.sidebar p:hover {
  background: var(--bg-card);
  color: var(--text-main);
}
:root {
  --bg-main: #0f172a;        /* 深蓝黑背景 */
  --bg-card: #1e293b;        /* 卡片 */
  --bg-sidebar: #020617;     /* sidebar 更深 */
  
  --text-main: #f1f5f9;      /* 白色文字 */
  --text-secondary: #94a3b8; /* 灰字 */

  --accent: #3b82f6;         /* 蓝色主色 */
  --accent-hover: #2563eb;   /* hover */
}

.dashboard_submenu {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  gap: 4px;
}

.dashboard_submenu p {
  font-size: 14px;
  padding: 6px;
  color: var(--text-secondary);
  cursor: pointer;
  margin-left:20px;
}
.dashboard_submenu p.active_submenu {
  background: rgb(62, 93, 214);
  color:yellow;
}

.dashboard_submenu p:hover {
  background: var(--bg-card);
}

.graph_panel {
  background: #1e293b;
  padding: 20px;
  border-radius: 12px;
  margin-top: 20px;
}
.panel_title {
  color: white;
  margin-bottom: 20px;
}

.dashboard_grid {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 20px;
}

.logs_panel {
  background: #1e293b;
  padding: 20px;
  border-radius: 12px;
  margin-top: 20px;
}
.log_item {
  color: #cbd5e1;
  margin-bottom: 10px;
  font-size: 14px;
}
.stats_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-bottom: 20px;
}
.stat_card {
  background: #1e293b;
  padding: 20px;
  border-radius: 12px;
   display: flex;
  justify-content: space-between;
  align-items: center;
}
.stat_card h3 {
  color: red;
  margin-bottom: 10px;
}

.stat_card p {
  color: yellow;
  font-size: 32px;
  font-weight: bold;
}